---------------------------

SUPABASE CONFIG

---------------------------

VITE_SUPABASE_URL=https://cciwcpqsfiqugntgqppk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjaXdjcHFzZmlxdWdudGdxcHBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NjY3NzUsImV4cCI6MjA5MDI0Mjc3NX0.JLbZ6wyszf6QCN4kRjiblA5m6OxjGs0S6u3nN-1A8Wg

---------------------------

BACKEND (FASTAPI)

---------------------------

VITE_BACKEND_URL=http://127.0.0.1:8000

---------------------------

APP SETTINGS

---------------------------

VITE_APP_NAME=LifeOS
VITE_ENV=development